/**
 * Main Style Sheet
 * Way2CU - AES Encryption/Decryption
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(../images/fonts/roboto-normal.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'), url(../images/fonts/roboto-italic.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@keyframes glow {
	from { opacity: 0.7; }
	to { opacity: 1; }
}

body {
	background-color: #2c3e50;

	color: #ecf0f1;
	font-family: Roboto;
	font-size: 1.1rem;
}

header {
	max-width: 900px;
	margin: 0px auto;
	padding-top: 2em;
	padding-bottom: 2em;

	text-align: center;
}

/**
 * Content
 */
div#content {
	max-width: 900px;
	margin: 0px auto;
}

label {
	display: block;
	position: relative;
	margin-bottom: 1em;
}

label:not(.checkbox):before {
	position: absolute;
	top: 1em;
	left: -3em;
	width: 1em;
	height: 1em;
	padding: 0.5em;

	border: 2px solid #2980b9;
	border-radius: 50%;

	color: #2980b9;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	line-height: 100%;
}

label.inline {
	display: inline-block;
	margin-right: 1em;
}

label:not(.checkbox) span {
	display: block;
	margin-bottom: 0.2em;
}

label input,
label textarea {
	padding: calc(0.5em - 2px);

	border: 2px solid #ecf0f1;
	background-color: #ecf0f1;

	color: #2c3e50;
	font-family: Roboto;
	font-size: 1.1rem;

	transition: all 0.3s;
}

label input:not([type=checkbox]) {
	min-width: 400px;
}

label textarea {
	resize: vertical;
}

label input:focus,
label textarea:focus {
	border-color: #f39c12;
}

div.controls {
	display: inline-block;
}

button {
	padding: 0.5em 2em;

	border: 0;
	background-color: #2980b9;
	background-image: linear-gradient(180deg, #3498db 0%, #2980b9 100%);

	color: white;
	font-family: Roboto;
	font-size: 1.1rem;

	transition: all 0.1s;
}

button:active {
	background-image: linear-gradient(0deg, #3498db 0%, #2980b9 100%);
}

button:disabled,
button:disabled:active {
	opacity: 0.5;
	background-image: linear-gradient(180deg, #95a5a6 0%, #7f8c8d 100%);
}

button:focus {
	outline: 1px solid white;
}

a {
	color: #ecf0f1;
}

a:hover {
	color: #88D7E6;
}

article {
	display: block;
	padding: 2em 0;
}

article h3 {
	margin: 0;
	padding: 0;
	color: #e74c3c;
}

article p {
	margin: 0;
	padding: 0;
}

/**
 * Footer
 */
footer {
	max-width: 900px;
	margin: 0px auto;

	font-size: 0.8em;
	font-style: italic;

	color: #2980b9;
}

footer a {
	color: #2980b9;
}

footer a:hover {
	color: white;
}
